<div class="kpx-autocomplete-main"><input type="text" 
                    [(ngModel)]="selected.Description" (focus)="onFocus()"  (keydown)="onKeyDown($event)" 
                    (blur)="onBlur()" (keyup)="onKeyUp($event)" class="input" placeholder="{{placeholder}}"
                     />
            <div *ngIf="showList && list.length > 0" class="menu">
            <ul *ngFor="let item of list; let i=index;" class="menu-list">
                <li [class.selected]="item.Selected" (click)="onClickOption(item, i)" class="menu-list-item">{{item.Name}}</li>
            </ul>
            </div>
            </div>